*
{
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    background: #333;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas
{
    display: block;
}

